# HTID:11167456: DO NOT REMOVE OR MODIFY THIS LINE AND THE LINES BELOW
# DO NOT REMOVE OR MODIFY THIS LINE AND THE LINES ABOVE HTID:11167456:

ErrorDocument 404 /index.php

RewriteEngine On
RewriteCond %{REQUEST_FILENAME}.php -f
RewriteRule ^ index.php [QSA,L]
RewriteRule !.*\.php$ %{REQUEST_FILENAME}.php [QSA,L]